<!-- Address -->
<section class="section section--address">
    <div class="section__wrapper container">
        <div class="section__header">
            <h2 class="section__title">Выберите ближайший филиал</h2>
        </div>
        <div class="section__content">
            <div class="address">
                <div class="address__inner">
                    <div class="address__box">
                        <div class="address__map img" >
                            <div class="map" data-map="location"></div>
                        </div>
                        <div class="address__content">
                            <div class="address__slider">
                                <div class="address__slider-inner">
                                    <!-- <div class="address__slider-main">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img src="images/address/address-01.jpg" alt="фотография нашего филиала">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="images/address/address-01.jpg" alt="фотография нашего филиала">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="images/address/address-01.jpg" alt="фотография нашего филиала">
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="address__slider-thumbs">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img src="images/address/address-01.jpg" alt="фотография нашего филиала">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="images/address/address-01.jpg" alt="фотография нашего филиала">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="images/address/address-01.jpg" alt="фотография нашего филиала">
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="address__info wysiwyg wysiwyg--secondary">
                                <h3 class="address__title">«СИТИ» на Революционной</h3>
                                <p>Самара, ул. Революционная K1 /Московское шоссе, Футбольный манеж "РФЛ-Арена"</p>
                                <ul class="address__list">
                                    <li>Старшая школа для детей от 6 лет</li>
                                    <li>Крытое футбольное поле</li>
                                </ul>
                                <a class="address__tel tel" href="tel:+78460000000">+7 (846) 000 00 00</a>
                                <div class="address__info-bottom">
                                    <a class="btn" href="#">Построить маршрут</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
