<!-- News -->
<section class="section section--news">
    <div class="section__wrapper container">
        <div class="section__header">
            <ul class="section__tabs">
                <li class="section__tabs-item">
                    <a class="section__tabs-btn is-active section__title" href="#">Новости</a>
                </li>
                <li class="section__tabs-item">
                    <a class="section__tabs-btn section__title" href="#">Журнал</a>
                </li>
            </ul>
            <div class="section__manage">
                <div class="section__choose">
                    <a href="#">Все новости</a>
                </div>
                <div class="section__controls">
                    <a class="section__controls-btn btn-circle btn-circle--outline" href="#">
                        <span class="visually-hidden">Предыдущий слайд</span>
                        <i class="icon icon-arrow-left"></i>
                    </a>
                    <a class="section__controls-btn btn-circle" href="#">
                        <span class="visually-hidden">Следующий слайд</span>
                        <i class="icon icon-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="section__content">
            <div class="news">
                <div class="news__list">
                    <!-- @@include('components/swiper.html', {
                        "id": "process",
                        "template": "process"
                    }) -->
                </div>
            </div>
        </div>
    </div>
</section>
