<!-- Article -->
<section class="section section--article">
    <div class="section__wrapper container">
        <div class="section__content">
            <div class="article wysiwyg">
                <div class="article__list article__list--prospects">
                    <div class="article__item">
                        <div class="article__img img">
                            <img src="images/article/article-07.jpg" alt="фотография нашей школы" >
                        </div>
                        <div class="article__info">
                            <h2>Развитие детей с 3-х до 5-ти лет</h2>
                            <p>Для того, чтобы подготовить малышей к большому футболу, мы создаём комфортные классы в удобных для посещения местах, рядом с Вашим домом! Здесь есть весь необходимый инвентарь, есть непередаваемая атмосфера футбола - ведь класс создан в виде стадиона! Мягкая зелёная трава, прожектора трибун и конечно зрители - с такого дети должны делать свои первые шаги в футболе!</p>
                            <p>Юные футболисты занимаются в таких классах с 3-х до 5-ти лет. Родители во время тренировок детей могут совершить покупки или подождать детей в комфортных условиях, полистав журналы в мягкой зоне ожидания, посмотреть телевизор. Также можно воспользоваться бесплатным Wi-Fi.</p>
                        </div>
                    </div>
                    <div class="article__item">
                        <div class="article__img img">
                            <img src="images/article/article-08.jpg" alt="фотография нашей школы" >
                        </div>
                        <div class="article__info">
                            <h2>Развитие детей с 3-х до 5-ти лет</h2>
                            <p>Почему в помещении, а не на улице? Дети в таком возрасте не обладают сильным иммунитетом и подвержены заболеваниям. Даже летом можно легко простудиться в казалось бы, хорошую погоду. А в наших залах всегда комфортная температура.</p>
                        </div>
                    </div>
                    <div class="article__item">
                        <div class="article__img img">
                            <img src="images/article/article-09.jpg" alt="фотография нашей школы" >
                        </div>
                        <div class="article__info">
                            <h2>Переход в основную школу с 6 лет</h2>
                            <p>Получив необходимые основы, ребята из подготовительных классов переходят в основную школу с 6 лет, где начинают заниматься в футбольных манежах и на открытых стадионах.
                                Количество тренировок увеличивается до 3-4 раз в неделю, начинаются соревнования на местном уровне. С 7 лет ребята начинают участвовать во всероссийских и международных турнирах и чемпионатах своих городов.</p>
                            <p>У родителей появляется возможность заказать индивидуальные тренировки, если есть необходимость подтянуть навыки.
                                С родителями талантливых игроков будут подписаны соглашения на бесплатное обучение.</p>
                        </div>
                    </div>
                    <div class="article__item">
                        <div class="article__img img">
                            <img src="images/article/article-10.jpg" alt="фотография нашей школы" >
                        </div>
                        <div class="article__info">
                            <h2>Европейская программа тренировок</h2>
                            <p>Дети занимаются по немецкой программе тренировок, созданной в 2000-х годах, и на сегодняшний день являющейся лучшей в мире!
                                Именно по такой программе обучались нынешние чемпионы мира по футболу - Марко Ройс, Мануэль Нойер, Месут Озил и другие игроки сборной Германии. Тренируем футболистов до 18 лет, далее лучшие попадают в команду "Сити" в молодежное первенство и в чемпионат России.</p>
                            <p>Тренером-консультантом академии является голландский специалист Нико Лабом, который разработал уникальную систему подготовки, и вырастил огромное количество профессиональных футболистов.
                                Помимо этого, наши тренера проходят курсы и лекции повышения квалификации, ориентированных на европейский подход обучения футболистов.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
