<!-- Article -->
<section class="section section--article">
    <div class="section__wrapper container">
        <div class="section__header">
            <h1 class="section__title section__title--big">О нас</h1>
        </div>
        <div class="section__content">
            <div class="article wysiwyg">
                <div class="article__list">
                    <div class="article__item">
                        <div class="article__img img">
                            <img src="images/article/article-01.jpg" alt="фотография нашей школы" >
                        </div>
                        <div class="article__info">
                            <h2>Вы ищете спортивную секцию для ребенка?</h2>
                            <p>Чем раньше Вы начнете заниматься — тем больше шансов на хорошие результаты! Ведь до семи лет закладываются такие качества как:</p>
                            <ul>
                                <li>Скорость</li>
                                <li>Дисциплина</li>
                                <li>Координация</li>
                                <li>Физическое развитие</li>
                            </ul>
                            <p>Занятия футболом с 3-х лет развивают в детях общительность, коммуникабельность, социальную активность, бойцовские качества, дух соперничества. <br>
                            Футбол готовит к школе и будущей успешной жизни!</p>
                        </div>
                    </div>
                    <div class="article__item">
                        <div class="article__img img">
                            <img src="images/article/article-02.jpg" alt="фотография нашей школы" >
                        </div>
                        <div class="article__info">
                            <h2>Подготовительный центр для детей от 3 до 5 лет</h2>
                            <p>Специально для самых маленьких учеников мы создали подготовительный центр, где есть всё необходимое для плодотворного обучения футболу. А именно:</p>
                            <ul>
                                <li>Футбольное поле из искусственной травы и оформление игрового зала в виде стадиона, помогают детям окунуться в атмосферу спорта номер один в мире!</li>
                                <li>В центре есть весь необходимый современный инвентарь</li>
                                <li>Зал является абсолютно безопасным для ребёнка, он полностью окружен мягкой сеткой.</li>
                                <li>Для родителей предусмотрена зона ожидания с журналами, мягкими стульями, бесплатным wi-fi, телевизором.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="article__item">
                        <div class="article__img img">
                            <img src="images/article/article-03.jpg" alt="фотография нашей школы" >
                        </div>
                        <div class="article__info">
                            <h2>Группы подготовительной школы</h2>
                            <ul>
                                <li>Группы формируются по году рождения детей, поэтому у нас юные футболисты тренируются вместе с ровесниками.</li>
                                <li>В каждой группе не более 15 детей и два тренера. Это позволяет найти подход к каждому ребенку</li>
                                <li>Малыши перевоплощаются в "обезьянок" и "тигров", "полицейских" и "пожарников", "скалолазов" и "летчиков" и всё это с мячом, фишками, воротами. Только так ребята могут подружиться с мячом, полюбить футбол и научиться основам игры.</li>
                                <li>На один центр требуется не более 6-ти тренеров, поэтому у нас отбираются действительно лучшие и профессиональные тренеры, с обязательными курсами детского психолога.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="article__item">
                        <div class="article__img img">
                            <img src="images/article/article-04.jpg" alt="фотография нашей школы" >
                        </div>
                        <div class="article__info">
                            <h2>Переход из подготовительной в основную академию</h2>
                            <p>С 6 лет ребята переходят в основную академию. Здесь группы делятся по году рождения и уровню подготовки. Формируются команды которые вместе тренируются и участвуют в соревнованиях.</p>
                            <p>Занятия проходят в собственных футбольных манежах "РФЛ-Арена" и "Сити". Это шесть полей с искусственной травой последнего поколения (производство: Голландия). На зиму манеж закрывается и отапливается, летом борта манежа открываются и создают приятную прохладу даже в самую жаркую погоду. С 9 лет тренировки проходят на большом поле стадиона "Звезда".</p>
                        </div>
                    </div>
                    <div class="article__item">
                        <div class="article__img img">
                            <img src="images/article/article-05.jpg" alt="фотография нашей школы" >
                        </div>
                        <div class="article__info">
                            <h2>Тренерский состав</h2>
                            <p>Занятия проводят квалифицированные тренеры, по методикам Федерации футбола Германии. Именно с таких упражнений, в своё время начинали играть в футбол нынешние чемпионы мира!</p>
                            <p>Тренером-консультантом академии является Нико Лабом (Голландия).</p>
                            <p>В нашей школе работают преимущественно молодые и мотивированные тренеры. В каждой группе по 2 тренера, а всего в школе более 20 тренеров по разным возрастным категориям.</p>
                        </div>
                    </div>
                    <div class="article__item">
                        <div class="article__img img">
                            <img src="images/article/article-06.jpg" alt="фотография нашей школы" >
                        </div>
                        <div class="article__info">
                            <h2>Наши достижения</h2>
                            <p>В каждом возрасте с 6 лет у нас есть сильные команды, участвующие в различных футбольных турнирах Самары и России.</p>
                            <p>Абсолютно все ребята, независимо от уровня подготовки, принимаю участие в матчах регулярной футбольной "Супер-лиги" в Самаре.
                                Сборные команды, состоящие из лучших игроков по своему возрасту, успешно принимают участие во всероссийских турнирах.</p>
                            <p>Многие наши воспитанники играют в лучших академиях России, таких как "Чертаново", "Локомотив", "Краснодар" и пр.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
