$icomoon-prefix: 'icon-';
$icomoon-font-name: 'icomoon';
$icomoon-font-family: 'icomoon';

$icomoon-icons: (
	time: '\e90b',
	close: '\e902',
	play: '\e900',
	telegram: '\e904',
	viber: '\e905',
	check: '\e906',
	arrow-left: '\e907',
	arrow-down: '\e901',
	arrow-up: '\e908',
	arrow-right: '\e909',
	whatsapp: '\e90a',
	profile: '\e903'
);