<!-- Club -->
<section class="section section--club">
    <div class="section__wrapper container">
        <div class="section__header">
            <h2 class="section__title section__title--big">Подготовительный центр для детей от 3 до 5 лет</h2>
        </div>
        <div class="section__content">
            <div class="club">
                <div class="club__inner">
                    <div class="club__info wysiwyg">
                        <img src="images/club/club.jpg" alt="Подготовительный центр для детей от 3 до 5 лет" width="340" height="231">

                        <div class="club__box">
                            <h2>h2 Вы ищете спортивную секцию для ребенка?</h2>
                            <p>Чем раньше Вы начнете заниматься — тем больше шансов на хорошие результаты! Ведь до семи лет закладываются такие качества как:</p>
                            <ul>
                                <li>Скорость</li>
                                <li>Дисциплина</li>
                                <li>Координация</li>
                                <li>Физическое развитие</li>
                            </ul>
                            <p>Занятия футболом с 3-х лет развивают в детях общительность, коммуникабельность, социальную активность, бойцовские качества, дух соперничества. Футбол готовит к школе и будущей успешной жизни!</p>
                        </div>

                        <div class="club__box">
                            <h3>h3 Подготовительный центр для детей от 3 до 5 лет</h3>
                            <p>Специально для самых маленьких учеников мы создали подготовительный центр, где есть всё необходимое для плодотворного обучения футболу. А именно:</p>
                            <ol>
                                <li>Футбольное поле из искусственной травы и оформление игрового зала в виде стадиона, помогают детям окунуться в атмосферу спорта номер один в мире!</li>
                                <li>В центре есть весь необходимый современный инвентарь</li>
                                <li>Зал является абсолютно безопасным для ребёнка, он полностью окружен мягкой сеткой.</li>
                                <li>Для родителей предусмотрена зона ожидания с журналами, мягкими стульями, бесплатным wi-fi, телевизором.</li>
                            </ol>
                        </div>

                        <div class="club__box">
                            <h4>h4 Переход из подготовительной в основную академию</h4>
                            <p>С 6 лет ребята переходят в основную академию. Здесь группы делятся по году рождения и уровню подготовки. Формируются команды которые вместе тренируются и участвуют в соревнованиях.</p>
                            <p>Занятия проходят в собственных футбольных манежах "РФЛ-Арена" и "Сити". Это шесть полей с искусственной травой последнего поколения (производство: Голландия). На зиму манеж закрывается и отапливается, летом борта манежа открываются и создают приятную прохладу даже в самую жаркую погоду. С 9 лет тренировки проходят на большом поле стадиона "Звезда".</p>
                        </div>
                    </div>
                    <div class="club__aside">
                        <form class="form" action="#">
                            <div class="form__top">
                                <h2 class="form__title">Оставить заявку</h2>
                                <p class="form__desc">Перезвоним, проконсультируем и договоримся на удобный день для первой бесплатной тренировки.</p>
                            </div>
                            <div class="form__manage">
                                <label class="form__label">
                                    <input class="form__field" type="text" placeholder="Ваше имя">
                                </label>
                                <label class="form__label">
                                    <input class="form__field" type="tel" placeholder="+7 (900) 000 00 00">
                                </label>
                            </div>
                            <div class="form__agree agree">
                                <label class="agree__label">
                                    <input type="checkbox">
                                    <span class="agree__checkbox"></span>
                                    <span class="agree__text">Согласен на обработку персон. данных</span>
                                </label>
                            </div>
                            <button class="btn form__submit">Записаться на тренировку</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
