<!-- Feedback -->
<section class="section section--feedback">
    <div class="section__wrapper">
        <div class="section__content">
            <div class="feedback">
                <div class="feedback__inner container">
                    <div class="feedback__content">
                        <div class="feedback__top">
                            <p class="feedback__lead">от 3 до 15 лет</p>
                            <h2 class="feedback__title">Запишите ребенка на бесплатную тренировку</h2>
                            <p class="feedback__desc">Перезвоним, проконсультируем и договоримся на удобный день для первой бесплатной тренировки.</p>
                        </div>
                        <form class="form" action="#">
                            <div class="form__manage">
                                <label class="form__label">
                                    <input class="form__field" type="text" placeholder="Ваше имя">
                                </label>
                                <label class="form__label">
                                    <input class="form__field" type="tel" placeholder="+7 (900) 000 00 00">
                                </label>
                            </div>
                            <div class="form__agree agree">
                                <label class="agree__label">
                                    <input type="checkbox">
                                    <span class="agree__checkbox"></span>
                                    <span class="agree__text">Согласен на обработку персон. данных</span>
                                </label>
                            </div>
                            <button class="btn form__submit">Записаться на тренировку</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
