<!-- 404 -->
<section class="section section--page404">
    <div class="section__wrapper">
        <div class="section__content">
            <div class="page404">
                <div class="page404__inner">
                    <div class="page404__top">
                        <h1 class="page404__title">404</h1>
                        <div class="page404__gates">
                            <picture>
                                <source srcset="images/page404/gates-desk.png" media="(min-width: 576px)" type="image/png">
                                <img src="images/page404/gates-mob.png" alt="ворота" width="360" height="535">
                            </picture>
                        </div>
                    </div>
                    <div class="page404__info container">
                        <a class="btn" href="#">На главную</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
