<!-- Pagination -->
<div class="pagination">
    <div class="pagination__inner container">
        <div class="pagination__box">
            <div class="pagination__top">
                <a class="btn" href="#">Показать еще</a>
            </div>
            <ul class="pagination__list">
                <li><span class="pagination__btn is-active">1</span></li>
                <li><a class="pagination__btn" href="#">3</a></li>
                <li><a class="pagination__btn" href="#">4</a></li>
                <li><a class="pagination__btn" href="#">...</a></li>
                <li><a class="pagination__btn" href="#">10</a></li>
                <li><a class="pagination__btn" href="#">Все</a></li>
            </ul>
        </div>
    </div>
</div>
