<!-- Person -->
<section class="section section--person">
    <div class="section__wrapper container">
        <div class="section__content">
            <div class="person">
                <div class="person__inner wysiwyg">
                    <div class="person__header person__header--mob section__header">
                        <h2 class="section__title">Тренером-консультантом футбольной академии "Сити" является Нико Лабом (Голландия)</h2>
                    </div>

                    <div class="person__info">
                        <div class="person__pic img">
                            <img src="images/person/person.jpg" alt="Нико Лабом" width="340" height="389">
                        </div>
                        <ul>
                            <li>
                                <p><b>Закончил CIOS</b></p>
                                <p>(Центральный Институт Спортивных Преподавателей)</p>
                            </li>
                            <li>
                                <p><b>Тренер KNVB</b></p>
                                <p>(Голландская Королевская Футбольная Академия)</p>
                            </li>
                        </ul>
                    </div>

                    <div class="person__career">
                        <div class="person__header person__header--desk section__header">
                            <h2 class="section__title">Тренером-консультантом футбольной академии "Сити" является Нико Лабом (Голландия)</h2>
                        </div>

                        <p class="person__career-title"><b>Тренерская карьера:</b></p>

                        <ul class="person__biography">
                            <li><b>1984-2000, 2006 - 2007 г.г.</b> – Тренерские курсы Академии KNVB, инструктор.</li>
                            <li><b>1984 -2000 г.г.</b> – Тренер Молодежных сборных команд Голландии.</li>
                            <li><b>2000-2001 г.г.</b> – Тренер молодежи в Гонконгской Футбольной Ассоциации.</li>
                            <li><b>2002-2006 г.г.</b> - Supersport Und (Молодежная Академия, ЮАР)</li>
                            <li><b>2008 г.</b> – Старший тренер ЦПФ ФК «Динамо» Москва им. Л.И.Яшина</li>
                        </ul>

                        <p>Имеет 35-летний опыт как тренер, скаут и инструктор Голландской Футбольной Федерации, работал с национальными командами Нидерландов, Гонконга и Замбии.
                            Был во главе 5 Футбольных Академий (Feyenoord S Africa, Динамо Москва, Ozone India, Металлург Донецк and CSS Tunesia)</p>


                        <p>Воспитал в академии таких футболистов как: Робин Ван Перси(Арсенал Лондон, Манчестер Юнайтед), Арьен Роббен(Челси Лондон, Реал Мадрид, Бавария Мюнхен), Джованни Ван Бронкхорст (Арсенал Лондон, Барселона), Руд Ван Нистелрой(Манчестер Юнайтед, Реал Мадрид).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
