<!-- Process -->
<section class="section section--process">
    <div class="section__wrapper">
        <div class="section__header container">
            <h2 class="section__title">Как проходят наши тренировки</h2>
        </div>
        <div class="section__content">
            <div class="process">
                <div class="process__slider slider">
                    @@include('components/swiper.html', {
                        "id": "process",
                        "template": "process"
                    })
                </div>
            </div>
        </div>
    </div>
</section>
