<!-- Prospects -->
<section class="section section--prospects">
    <div class="section__wrapper container">
        <div class="section__header">
            <h2 class="section__title section__title--big">Перспективы обучения в академии "Сити"</h2>
        </div>
        <div class="section__content">
            <div class="prospects">
                <div class="prospects__inner wysiwyg">
                    <p>Уважаемые родители!</p>
                    <p>Выбор футбольной школы для Вашего ребёнка - занятие ответственное и требующее основательного подхода.</p>
                    <p>Ведь очень важно, чтобы ребёнок с самого детства полюбил футбол, чтобы тренировки шли на пользу, развивали юного спортсмена во всех направлениях. Важно не попасть к неквалифицированному тренеру, ведь возможности начать заново и исправить предыдущие ошибки не будет!</p>
                    <p>На этой странице - подробный план развития футбольной академии "Сити" с прицелом на 2030 год. Именно в этом году будет создана профессиональная футбольная команда "Сити", состоящая из собственных воспитанников для выступления в чемпионате России по футболу, и именно Ваш ребенок получит шанс стать профессиональным футболистом!</p>
                </div>
            </div>
        </div>
    </div>
</section>
