<!-- School -->
<section class="section section--school">
    <div class="section__wrapper">
        <div class="section__content">
            <div class="school">
                <div class="school__inner">
                    <div class="school__content slider">
                        @@include('components/swiper.html', {
                            "id": "school",
                            "template": "school"
                        })
                    </div>
                    <div class="school__header container wysiwyg">
                        <h2 class="section__title section__title--big">О футбольной школе</h2>
                        <p>Чем раньше Вы начнете заниматься — тем больше шансов на хорошие результаты! Ведь до семи лет закладываются такие качества как:</p>
                        <ul>
                            <li>Скорость</li>
                            <li>Дисциплина</li>
                            <li>Координация</li>
                            <li>Физическое развитие</li>
                        </ul>
                        <p>Занятия футболом с 3-х лет развивают в детях общительность, коммуникабельность, социальную активность, бойцовские качества, дух соперничества.</p>
                        <p>Футбол готовит к школе и будущей успешной жизни!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
