<div class="hero__slider">
    <div class="hero__slider-inner">
        <div class="hero__bg">
            <picture>
                <source srcset="@@img-desk" media="(min-width: 992px)" type="image/jpeg">
                <img src="@@img-mobile" alt="Футбольная школа для детей с разным уровнем подготовки" width="360" height="519">
            </picture>
        </div>
        <div class="hero__content">
            <div class="hero__content-inner">
                <p class="hero__lead">@@year</p>
                <h1 class="hero__title">@@title</h1>
                <p class="hero__desc">@@description</p>
                <a class="btn" href="#">Записаться на тренировку</a>
            </div>
        </div>
    </div>
</div>
