<li class="training__item grid__item">
    <div class="training__img img">
        <img src="@@img" alt="фотография нашей школы" width="340" height="224">
        <span class="price">@@price</span>
    </div>
    <div class="training__info">
        <div class="training__top">
            <div class="training__about">
                <h3 class="training__title">@@title</h3>
                <p class="training__desc">@@description</p>
            </div>
            <a class="btn training__btn" href="#">Оставить заявку</a>
        </div>
    </div>
    <ul class="training__manage">
        <li><a class="btn-outline" href="#">Что входит в программу обучения</a></li>
        <li><a class="btn-outline" href="#">Что входит в программу обучения</a></li>
        <li><a class="btn-outline" href="#">Что входит в программу обучения</a></li>
    </ul>
</li>
