@import 'partials';

.team {
    &__info {
        padding: 24px 0 0;
    }

    &__name {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
    }

    &__pro {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
    }

    @include ml(lg) {
        &__list.grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
